.btn {
    font-size: 1rem;
    font-family: 'Helvetica Neue', serif;
    font-weight: normal;
    text-align: center;
    padding: 0.7rem 0.5rem;
    color: white;
    display: inline-block;

}

.btn a {
    text-decoration: none;
    color: inherit;
    text-underline: none;
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-center {
    margin: 0 auto;
    display: block;
}

.btn-primary {
    background-color: #355FF2;
}

.btn-medium {
    width: 40vw;
}

.btn-cta {
    background-color: #F13E41;

}
.btn-cta:hover {
    background-color: #B52F31;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:hover {

    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-small {
}

.btn-cta-landing {

    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 2rem;
}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 700px) {

    .btn-cta-landing {
        display: block;
        margin: 0 auto;
        width: 20%;
        margin-top: 2rem;
    }

}

/*MOBILE ONLY CODE*/
@media screen and (max-width: 700px) {

    .btn-cta-landing {
        display: block;
        margin: 0 auto;
        width: 70%;
        margin-top: 2rem;
    }
}

/* ------------------------------------------------------------|
| CUSTOM BUTTON CODE
*-------------------------------------------------------------*/

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 900px) {

    #btn-get-started {
        display: inline-block;
        float:right;
    }
}

#btn-get-started {
    margin-top: 2rem;
}

