/* ------------------------------------------------------------|
| MAIN STRUCTURES
*-------------------------------------------------------------*/
body {
    overflow-x: hidden;
    background-color:white;
}

/* ------------------------------------------------------------|
| NAVBAR
*-------------------------------------------------------------*/

header {
    font-family: 'Helvetica Neue', serif;
    display: inline-block;
    float: left;
    position: fixed;
    z-index: 999;
    width: 100%;
    /*border: solid 1px hotpink;*/
    box-sizing: border-box;
}

nav {
    display: inline-block;
    float: left;
    background-color: white;
    box-sizing: border-box;
    width: 100%;

}

.sendcrypt-logo {
    width: 180px;
    height: 23px;
    margin-top: 1.1rem;
    margin-bottom: 1rem;

    z-index: 999;
}

.navbar-menu {
    font-size: .9rem;
    padding: 0;
    margin: 0;
    display: inline-block;
    float: right;
    box-sizing: border-box;
}

.navbar-menu li {
    display: inline-block;
    float: left;
    padding: 1.3rem;
    box-sizing: border-box;
}

.navbar-menu li a {
    text-decoration: none;
    color: inherit;
    text-underline: none;
}

.navbar-item-active {
    border-bottom: .3rem solid #355FF2;

}

.navbar-menu-icon {
    position: absolute;
    top: 1rem;
    right: 1.7rem;
    font-size: 1.6rem;
    color: #262626;
}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 900px) {

    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

}

/*MOBILE ONLY CODE*/
@media screen and (max-width: 900px) {

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

}

/* NAVBAR MENU MOBILE =========================================== */

.navbar-menu-mobile {
    font-size: .9rem;
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width: 100%;
    background-color: white;

}

.navbar-menu-mobile li {

    display: inline-block;
    float: left;
    padding: .8rem;
    box-sizing: border-box;
    text-align: center;
    min-width: 100%;
    margin-bottom: .4rem;
}

.navbar-menu-mobile li:hover {
    background-color: #F7F7F7;
}

.navbar-menu-mobile li a {
    min-width: 100%;
    text-decoration: none;
    color: inherit;
    text-underline: none;
    text-align: center;
}

/* ------------------------------------------------------------|
| MAIN (Landing CTA)
*-------------------------------------------------------------*/

main {
    background-color: white;
    height: auto;
    position: relative;

}

.main-section-svg {
    padding-top: 4rem;
    display: inline-block;
    float: left;
    box-sizing: border-box;
}

/* MAIN SECTION CONTENT =========================================== */
.main-section {
    width: 100vw;
    height: 100vh;
    background: url('../gfx/background.svg') no-repeat center;
    background-size: cover;
    position: relative;
    background-color:#1E1E1E;
}

.main-section-title {

    width: 100vw;
    height: auto;
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Quicksand', serif;
    font-weight: bolder;
    color: white;
    z-index: 3;
    left: 0;
    position: absolute;
    box-sizing: border-box;

}

.main-section-subtitle {
    font-size: 1.1rem;
    font-weight: normal;
    display: block;
    margin-top: .5rem;

}

/*MOBILE ONLY CODE*/
@media screen and (max-width: 900px) {

    .main-section-title {
        top: calc(77.2vh / 2);
        font-size: 2.3rem;
        padding-left: 2rem;
        padding-right: 2rem;

    }
}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 900px) {
    .main-section-title {
        top: 35vh;
    }

    .main-section-subtitle {
        font-size: 1.5rem;

    }

}

/* HEADER IMG ANIMATIONS =========================================== */

.square {
    background-image: url('../gfx/square.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    z-index: 1;
    position: absolute;
    top: 10rem;
    left: 5rem;
    width: 215px;
    height: 126px;

}

#server, #server2 {
    position: absolute;
    width: 10rem;
    z-index: 2;
}

/*MOBILE ONLY CODE*/
@media screen and (max-width: 900px) {
    #server {
        max-height: 10rem;
        top: 15vh;
        left: 53vw;
    }

    #server2 {
        max-height: 10rem;
        top: 48vh;
        left: 4vw;
    }

    .square {
        transform: scale(0.5);
    }
}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 900px) {

    #server {
        max-height: 15rem;
        top: 14vh;
        left: 71vw;
    }

    #server2 {
        max-height: 15rem;
        top: 48vh;
        left: 4vw;
    }

    .square {
        transform: scale(0.8);
    }
}

/* ------------------------------------------------------------|
| SECTIONS
*-------------------------------------------------------------*/

/* First Section =========================================== */

.section-first {
    display: inline-block;
    float: left;
    background-color: white;
    width: 100%;
    height: 30rem;
    box-sizing: border-box;

    /*border: solid 1px hotpink;*/
}

.section-first-header {
    background-color: #1E1E1E;
    color: white;
    font-family: Quicksand, serif;
    font-size: 1.7rem;
    padding: 1rem 1rem 3rem;
    font-weight: bolder;
    text-align: center;
    margin-top: -0.1rem;
    box-sizing: border-box;
}

.section-first-content {
    color: #495F7F;
    font-size: 1rem;
    font-family: "Quicksand Light", serif;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    box-sizing: border-box;
}

.section-first-table {
    box-sizing: border-box;
    padding-top: 3.4rem;
    padding-right: 5rem;
    padding-left: 1rem;

}

.section-table-img {
    min-width: 100%;
    height: auto;
    padding-right:4rem;

}

.section-divisor {
    display: inline-block;
    float:left;
    padding-left:4rem;
    padding-right:4rem;
    height: 1rem;
   border-top:1px solid #3A3A3A;
    background-color:white;
    box-sizing: border-box;
    opacity: .2;


}

/* Section standard =========================================== */

.section-standard {
    display: inline-block;
    float:left;
    width:100vw;
    height: 20rem;
            box-sizing: border-box;
    background-color:white;
    font-family: "Quicksand Medium", serif;



}

.section-title {
    font-size:2rem;
    font-weight: bolder;
    color: #3A3A3A;
    margin-top:3rem;
    text-align:right;
}

.section-content {
    font-size:1rem;
    font-family: "Quicksand Light", serif;
    color: #495F7F;
    margin-top:2rem;
    width:90%;
    text-align:right;
}


.section-img img {

    padding-top:3rem;

    margin:0 auto;
    display: block;

    max-width: 222px;
    height: auto;
}


/*DESKTOP ONLY CODE*/

@media screen and (min-width: 900px) {

    .section-title {
       display: inline-block;
        float:right;
    }
    .section-content{
        display: inline-block;
        float:right;
    }
}






/*DESKTOP ONLY CODE*/

@media screen and (min-width: 900px) {

    .section-first-header {
        text-align: left;
    }

    .section-first-content {
        text-align: left;
    }

}

/* Crossbrowser platform =========================================== */

.cross-browser-wrapper {
    /*border: solid 1px hotpink;*/
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    float: left;
    margin-top: 0.3rem;
}

.cross-browser-title {
    font-family: "Quicksand Light", serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #333333;
    padding: 1rem;
    display: block;
    width: 100%;
    /*border: solid 1px hotpink;*/
    box-sizing: border-box;
    text-align: center;
    margin-top: 0.8rem;
}

.crossbrowser-icon {
    display: inline-block;
    max-width: 67px;
    max-height: 67px;
    margin: 0 auto;
}

.crossbrowser-icon:nth-of-type(2) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* ------------------------------------------------------------|
| WRAPPER
*-------------------------------------------------------------*/

.wrapper {
    /*border: solid 1px hotpink;*/
    box-sizing: border-box;
    display: block;

}


/*MOBILE ONLY CODE*/
@media screen and (max-width: 900px) {

    .wrapper {
        padding-left:2rem;
        padding-right:2rem;
    }
}

/*DESKTOP ONLY CODE*/

@media screen and (min-width: 900px) {

    .wrapper {
        padding-left:4rem;
        padding-right:4rem;
    }
}